#mainContainer {
	height: 700px;
	width: 600px;
}

#poolDockContainer {
	height: 45%;
	border: 5px solid black;
	border-bottom: 0px;
	position: relative;
}

#pool {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

#players {
	height: 20%;
	border: 5px solid black;
}

#log {
	height: 35%;
	border: 5px solid black;
	border-top: 0px;
    display: block;
    overflow: auto;
}

#logHeadingContainer {
  background-color: lightgray;
  border-top: 0px;
  height: 40px;
}

#logTable {
  width: 100%;
  border-top: 0px;
}

.logEntry {
  height: 40px;
  vertical-align: top;
  width: 100%;
  display: inline-block;
  border: 1px solid gray;
}

.logEntry-btn {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-right: 20px;
  color: white;
  background-color: indianred;
  padding: 0;
  display: inline-block;
  float: right;
}

.logEntry-player {
  width: 50%;
  position: relative;
  float: left;
  margin-left: 2%;
}

.logEntry-action {
  width: 30%;
  position: relative;
  float: left;
  margin: 0;
}

.logEntry-time {
  width: 10%;
  position: relative;
  float: left;
  margin: 0;
}

#leftSide {
	border-right: 2px dashed black;
}

#leftTwoMeter {
	border-right: 1px dashed red;
	position: relative;
}

#leftFiveMeter {
	border-right: 2px solid yellow;
}

#rightFiveMeter {
	border-left: 2px solid yellow;
}

#rightTwoMeter {
	border-left: 1px dashed red;
	position: relative;
}

#leftGoalieContainer {
	margin-left: -45px;
	white-space: nowrap;
	transform: translateY(-50%) rotate(270deg);
	transform-origin: center center;
    -ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Safari and Chrome */
    -moz-transform-origin: center center; /* Firefox */
    -o-transform-origin: center center; /* Opera */
	position: absolute;
	top: 50%;
	text-align: center;
}

#switchSidesBtn {
	margin-top: 5px;
}

#rightGoalieContainer {
	white-space: nowrap;
	position: absolute;
	top: 50%;
	text-align: center;
	margin-right: 20px;
	transform: translateY(-50%) translateX(-20px) rotate(90deg);
	transform-origin: center center;
    -ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Safari and Chrome */
    -moz-transform-origin: center center; /* Firefox */
    -o-transform-origin: center center; /* Opera */
}

.player-btn, .benched-player-btn {
	border-radius: 50%;
	height: 72px;
	width: 72px;
    margin-left: 4px;
    margin-right: 4px;
}

.player-name {
	margin-right: -100%;
	margin-left: -100%;
	text-align: center;
}

#playersLabel {
	margin-left: 5px;
}

#viewBenchBtn {
	margin-right: 5px;
	margin-left: auto;
	height: 25px;
	margin-top: 5px;
}

#dock {
	z-index: 10;
	border-top: 3px solid black;
	border-bottom: 5px solid black;
	margin: 0;
	height: 110px;
	left: 0;
	top: 205px;
	background-color: #e5e7ea;
	padding: 0;
}

#dockLabel {
	margin-left: 5px;
}

#closeDockBtn {
	position: absolute;
	right: 0px;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 25px;
}

#dockContainer {
	text-align: center;
}

.hidden {
	display: none;
}
